<div class="tip_whole <%= single_tip.category.slug %> <%= difficulty_to_word(single_tip.difficulty) %>">
	<div class="tip_header">
		<h5 class="tip_title">
			<b><%= single_tip.name %></b> - <%= difficulty_to_word(single_tip.difficulty) %> <%= link_to "edit", edit_tip_path(single_tip) %> || <%= link_to "delete", single_tip, method: :delete, data: { confirm: 'are you sure'} %>
		</h5>
		<div class="tip_social">
			social links will go here
		</div>
	</div>
	<div class="tip_body">
		<div class="grid_20 alpha">
			<p class="tip_desc"><%= single_tip.description %></p>
			<% if single_tip.links? %>
				<div class="tip_links">
					<h5>More information</h5>
					<a href="{{url}}" class="tip_link" target="_blank">{{title}}</a>
				</div>
			<% end %>
		</div>
		<div class="grid_19 push_2">
			<h2 class="tip_cost_title">Avg. Cost to Implement</h2>
			<h1 class="tip_cost_title"><%= single_tip.cost %></h1>
		</div>
	</div>
</div>